html, body, h1, h2, h3, h4, h5, h6, font {
  font-family: sans-serif;
  overflow: auto;
}

h3{
  color: #a6192e;
  padding-bottom: 10px;
}

th, td {
  border: 1px solid gray;
  padding-left: 0.5%;
}
th{
  height: 30px;
  background-color: #dddddd;
}
td{
  height: 90px;
}

.pagecolour{
  margin: 0px auto;
  background-color: #b8111a;
}

div#outterbox{
  margin: 0px auto;
  border-top: 30px solid #3d3935;
  border-bottom: 50px solid #3d3935;
  width: 80vw;
  padding-left: 30px;
  margin-bottom: 100px;
  background-color: #ffffff;
  display: block;
  overflow: auto;
}

.innerbox{
  float: left;
  width: 70%;
  height: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
  background-color: #e9eff1;
}

.instr{
  font-size: 3;
  padding-bottom: 15px;
}

table#tbl1{
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid gray;
  width: 98%;
  text-align: left;
}

.inpbox{
  width: 50%;
  height: 35%;
}

.rslt{
  padding-top: 10px;
}

.bttn{
  background-color: #b81012;
  color: white;
  border: none;
  border-radius: 4px;
  float: right;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 2%;
}
