<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Database Results</h2>
    <table>
      <tr>
        <th>UID</th>
        <th>Name</th>
      </tr>
      <% results.forEach(function(r) { %>
        <tr>
          <td><%= r.uid %></td>
          <td><%= r.name %></td>
        </tr>
      <% }); %>
    </table>
  </body>
</html>
