<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tokimon</title>
    <link rel="stylesheet" type="text/css" href="CSS\tokimon.css">
  </head>
  <body>
    <h1>Tokimon Database</h1>
    <nav>
      <ul>
        <li class="active"><a href="/tokimon">Home</a></li>
          <li><a href="/dbview">View Database</a></li>
        </ul>
    </nav>
    <br></br><br></br><br></br>
    <form class="" action="/input" method="post">
      <table>
        <tr>
          <th>Name</th>
          <th>Weight</th>
          <th>Height</th>
          <th>Fly</th>
          <th>Fight</th>
          <th>Fire</th>
          <th>Water</th>
          <th>Electric</th>
          <th>Ice</th>
          <th>Trainer</th>
        </tr>
        <tr>
          <td><input type="text" name="nam" value=""></td>
          <td><input type="number" name="weight" value=""></td>
          <td><input type="number" name="height" value=""></td>
          <td><input type="number" name="fly" value="" min="0" max="100"></td>
          <td><input type="number" name="fight" value="" min="0" max="100"></td>
          <td><input type="number" name="fire" value="" min="0" max="100"></td>
          <td><input type="number" name="water" value="" min="0" max="100"></td>
          <td><input type="number" name="electric" value="" min="0" max="100"></td>
          <td><input type="number" name="ice" value="" min="0" max="100"></td>
          <td><input type="text" name="trainer" value=""></td>
        </tr>
        <tr>
          <td><input type="submit" name="" value="Submit Entry"></td>
        </tr>
      </table>
      <br></br>
    </form>
    <br></br>
    <p>Enter UID of Tokimon to be Deleted:</p>
    <form class="" action="/delete" method="post">
      <input type="number" name="delete" value="">
      <input type="submit" name="" value="Delete Entry">
    </form>
    <p>Enter UID of Tokimon to Change its Attributes:</p>
    <form class="" action="" method="post">
      <input type="number" name="change" value="">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
