<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tokimon</title>
    <h1>Tokimon Database</h1>
  </head>
  <body>
    <form class="" action="/tokimon" method="post">
      <input type="text" name="nam" value="">
      <input type="number" name="weight" value="">
      <input type="number" name="height" value="">
      <input type="number" name="fly" value="" min="0" max="100">
      <input type="number" name="fight" value="" min="0" max="100">
      <input type="number" name="fire" value="" min="0" max="100">
      <input type="number" name="water" value="" min="0" max="100">
      <input type="number" name="electric" value="" min="0" max="100">
      <input type="number" name="ice" value="" min="0" max="100">
      <input type="text" name="trainer" value="">
      <input type="submit" name="" value="SUBMIT">
    </form>
    <form class="" action="/delete" method="post">
      <input type="text" name="delete" value="">
    </form>
  </body>
</html>
